<div class="card card-categoria">
    <div class="card-body d-flex flex-column">
        <!-- Título -->
        <h5 class="card-title text-center">{{ miCategoria.nombre }}</h5>

        <!-- ID -->
        <p class="card-subtitle mb-2 text-muted text-center">
            ID: {{ miCategoria.idCategoria }}
        </p>

        <hr />

        <!-- Descripción -->
        <p class="mb-1"><strong>Descripción:</strong></p>
        <p class="card-text flex-grow-1">{{ miCategoria.descripcion }}</p>

        <!-- Botones -->
        <div class="d-flex justify-content-between mt-3">
            <button class="btn btn-sm btn-primary" [routerLink]="['/categorias/form/', miCategoria.idCategoria]" >
                Editar
            </button>
            <button class="btn btn-sm btn-danger" (click)="onEliminar()">
                Eliminar
            </button>
        </div>
    </div>
</div>