.card-categoria {
    min-height: 270px;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-categoria:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card-categoria .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-categoria .card-title {
    margin-bottom: 0.25rem;
    font-size: 1.1rem;
    color: #0b2764;
}

.card-categoria .card-subtitle {
    font-size: 0.85rem;
}

.card-categoria .card-text {
    font-size: 0.95rem;
    color: #555;
    overflow: auto;
    margin: 0.5rem 0;
}

.btn-sm {
    min-width: 70px;
}


.btn-edit {
    background-color: rgb(111, 168, 167);
    border: none;
    color: #fff;
    transition: background 0.2s;
}

.btn-edit:hover,
.btn-edit:focus {
    background-color: rgb(91, 136, 135);
}


.btn-delete {
    background-color: #2a2a2a;
    border: none;
    color: #fff;
    transition: background 0.2s;
}

.btn-delete:hover,
.btn-delete:focus {
    background-color: #3b3b3b;
}