<div class="login-container my-5">
    <div class="login-card mx-auto" style="max-width: 360px">
        <div class="login-header text-center">
            <h5 class="mb-0">Iniciar Sesión</h5>
        </div>
        <form [formGroup]="FormLogin" (ngSubmit)="getLogin()" class="login-form p-4">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input id="email" type="email" placeholder="Email" class="form-control" formControlName="email" />
                @if(checkControl('email','required')){
                <div class="invalid-feedback d-block">Campo requerido</div>
                }
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input id="password" type="password" placeholder="Contraseña" class="form-control"
                    formControlName="password" />
                @if(checkControl('password','required')){
                <div class="invalid-feedback d-block">Campo requerido</div>
                }
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-login btn-sm" [disabled]="!FormLogin.valid">
                    Entrar
                </button>
            </div>

            <div class="mt-4 text-center">
                <small>
                    Si aún no tienes cuenta,
                    <a [routerLink]="['/register']" class="register-link">
                        Regístrate aquí
                    </a>
                </small>
            </div>
        </form>
    </div>
</div>
