<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row gy-4">
      <div class="col-md-3">
        <h5>Sobre nuestra app</h5>
        <ul class="list-unstyled">
          <li><a href="#">Quienes somos</a></li>
          <li><a href="#">Trabaja con nosotros</a></li>
          <li><a href="#">Ofertas de empleo</a></li>
          <li><a href="#">Empresas</a></li>
        </ul>
      </div>

      <div class="col-md-2">
        <h5>Contacto</h5>
        <ul class="list-unstyled">
          <li><a href="#">Formulario de contacto</a></li>
          <li><a href="#">Atención al cliente</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>Información adicional</h5>
        <ul class="list-unstyled">
          <li><a href="#">Ayuda</a></li>
          <li><a href="#">Seguridad</a></li>
          <li><a href="#">Condiciones legales</a></li>
          <li><a href="#">Política de privacidad</a></li>
          <li><a href="#">Política de cookies</a></li>
        </ul>
      </div>
    </div>

    
    <div class="row align-items-center mt-4">
      <div class="col-12 text-center text-md-end">
        <div class="social-icons">
          <a href="#" aria-label="Twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
