footer {
    width: 100%;
    background-color: #f8f9fa;
    color: #343a40;
    padding: 1rem 5rem;
    bottom: 0;
}


footer h5 {
    font-weight: 600;
    margin-bottom: 1rem;
}

footer a {
    color: #343a40;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
}

.social-icons a {
    margin-right: 0.5rem;
    font-size: 1.25rem;
}

.footer-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 1rem;
}


/* Media query para pantallas pequeñas */
@media (max-width: 772px) {
      .footer .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  /* 2) Haz que cada "col" ocupe ancho completo, pero con un max‑width para no alargar demasiado */
  .footer .row > div {
    flex: 0 0 100% !important;
    max-width: 400px;  
    margin-bottom: 1.5rem;
  }

  
  .footer ul {
    display: inline-block;
    justify-content: center;
    margin: 0 auto 1rem;
    padding-left: 0px;
    text-align: center;    
  }
    
    .footer-logo{
        display: none;
    }
    .social-icons {
        margin: 1rem auto 0 !important;
    }
}