


.cards-wrapper {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    
}



.clickable-card {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #013a72;
    border: #03213f 2px solid;
    
}
.clickable-card:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.clickable-card .card-body {
    height: 220px;
    
}

.clickable-card .card-title {
    font-weight: 600;
    color: #e8e7e7;
    
}

.placeholder-img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-color: #dee2e6;
    border-radius: 8px;
    border: solid 1px white;
}
@media (max-width: 576px) {
    .cards-wrapper {
        padding: 0.5rem;
    }

    .clickable-card {
        min-height: auto;
    }

    .clickable-card .card-body {
        height: auto;
        padding: 1.5rem 1rem;

    }

    .placeholder-img {
        width: 60px;
        height: 60px;
    }
}