<div class="cards-wrapper">
    <div class="container my-5">
        <div class="row justify-content-center">

            <!-- Card 1 -->
            <div class="col-md-4 mb-4">
                <div class="card text-center clickable-card h-100" [routerLink]="['/categorias']">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <div class="placeholder-img mb-3"></div>
                        <h5 class="card-title">Gestión Categorías</h5>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4 mb-4">
                <div class="card text-center clickable-card h-100" [routerLink]="['/empresas']">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <div class="placeholder-img mb-3"></div>
                        <h5 class="card-title">Gestión Empresas</h5>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4 mb-4">
                <div class="card text-center clickable-card h-100" [routerLink]="['/usuarios']">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <div class="placeholder-img mb-3"></div>
                        <h5 class="card-title">Gestión Usuarios</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>