
<div class="container mt-4 mb-4 usuario-list">
  <h2 class="text-center mb-3">Lista de usuarios</h2>

  <table class="table table-hover mt-4">
    <thead class="table-light">
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Enabled</th>
        <th scope="col">Fecha de Registro</th>
        <th scope="col">Rol</th>
        <th scope="col">Modificar</th>
      </tr>
    </thead>
    <tbody>
      @for (usuario of arrUsers; track usuario.nombre) {
      <tr>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellidos }}</td>
        <td>
          @if (usuario.enabled === 1 && usuario.rol != 'ADMON') {
          <button class="btn btn-disable-user btn-sm" (click)="desactivar(usuario.email)">
            Desactivar
          </button>
          } @else if (usuario.enabled === 0 && usuario.rol != 'ADMON') {
          <button class="btn btn-success btn-sm" (click)="activar(usuario.email)">
            Activar
          </button>
          }
        </td>
        <td>{{ usuario.fechaRegistro }}</td>
        <td>{{ usuario.rol }}</td>
        <td>
          <a class="btn btn-edit btn-sm" [routerLink]="['/usuarios', 'lista', usuario.email]">
            Editar
          </a>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <div class="text-center mt-4">
    <a class="btn btn-secondary btn-sm" [routerLink]="['/usuarios']">
      Volver
    </a>
  </div>
</div>


  